[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
scipy = "*"
seaborn = "*"
ipdb = "*"
jupyter = "*"
python-dotenv = "*"
pillow = "==8.2.0"
seaborn-image = "*"
gmm-mml = "*"

[dev-packages]

[requires]
python_version = "3.7"
